/** RESET */

html {
  font-size: 12px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

/** TYPOGRAPHY */
body {
  font-family: 'Work Sans', sans-serif;
  background-color: #EEEEEE;
}

.main-wrapper {
  max-width: 960px;
  margin: 0 auto;
  width: auto;
  background-color: white;
}

/**  HEADER */
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

/** LOGO */

.logo {
  position: absolute;
  width: 4rem;
  top: 50%;
  left: 2rem;
  transform: translate(0, -50%);
  text-transform: uppercase;
}

/** MENU */

.menu a {
  color: #cf2c30;
  font-weight: 600;
  text-decoration: none;
}

.menu--actived {
  border-bottom: 3px solid #cf2c30;
}

.menu li:not(:last-child) {
  padding-right: 1.5rem;
}

/**  HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  background-position: top;
  background-size: cover;
  height: 30rem;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  filter:brightness(0.9);
}

.home-hero {
  background-image: url(./assets/hero.jpg);
}

.hero h1 {
  padding-top: 5rem;
  font-size: 2.4rem;
  text-decoration: none;
}

.hero-link {
  text-decoration: none;
}

/** GALLERY LAYOUT */

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.75rem; /*12px*/
}

.grid-images {
  position: relative;
}

.grid-images img {
  filter: brightness(.6);
  width: 100%;
}

.img-1 {
  grid-column: 1 / span 2;
}

.img-2 {
  grid-column: 3 / span 2;
}

.img-3 {
  grid-column: 5 / 7;
}

.img-4 {
  grid-column: 1 / span 3;
}

.img-5 {
  grid-column: 4 / span 3;
}

.images__info {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: white;
}

.images__cta {
  width: 100%;
  text-transform: uppercase;
  padding: .2rem;
  text-decoration: none;
  color: black;
  background-color: lightgrey;
  display: block;
  text-align: center;
  margin-top: .5rem;
}

/** CATEGORIES GRID */

.grid-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem 0.6rem;
}

.grid-item1 {
  grid-column: 1 / span 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item2 {
  grid-column: 2 / span 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item3 {
  grid-column: 3 / span 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item4 {
  grid-column: 1 / span 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item5 {
  grid-column: 2 / span 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.grid-item6 {
  grid-column: 3 / span 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.grid-item7 {
  grid-column: 4 / span 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.grid-item8 {
  grid-column: 1 / span 1;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item9 {
  grid-column: 2 / span 1;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/** CATEGORIES */

.categories-title {
  text-align: center;
  margin: 0 10rem;
}

.nav-secondary-item {
  color: #7C7573;
}

.grid-images-categories img {
  position: relative;
  width: 100%;
  height: 100%;
}

.order-by-icon {
  display: flex;
  align-items: center;
}

.order-by-icon::before {
  background-image: url("/assets/icons/ascending-sort.svg");
  background-size: 10px 20px;
  display: inline-block;
  width: 10px; 
  height: 20px;
  content:"";
  margin-right: 0.2rem;
}

/** BREADCRUMB **/

.inner-container {
  padding: 1rem;
}

.breadcrumb a {
  color: black;
  font-size: 0.8rem;
}

.breadcrumb--actived {
  text-decoration: none;
}

/** FOOTER */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
}

.newsletter-img {
  width: 40px;
  margin-bottom:0.5rem;
}

.newsletter-button {
  width: 200px;
  background-color:#cf2c30;
  padding: 0.3rem;
  margin: 1rem 0;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.main-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 3rem;
  font-size: 10px;
  background-color: #cf2c30;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 3rem;
}

.main-footer a {
  color: white;
  text-decoration: none;
  line-height: 2;
}

.main-footer a.list-title {
  font-weight: 700;
}

.social-img {
  height: 1rem;
}

.social-img {
  padding-right: 1rem;
}

.main-footer p {
  color: white;
}

/** PRODUGT DETAIL PAGE */
/** PRODUCT INFO */

.product-img__wrapper {
  position: relative;
  height: fit-content;
}

.product-img {
  max-height: 265px;
}

.product-img__chevron-l:before {
  display: inline-block;
  content: '';
  background-image: url(assets/icons/chevron-left.svg);
  background-size: 15px 20px;
  width: 15px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
}

.product-img__chevron-r:after {
  display: inline-block;
  content: '';
  background-image: url(assets/icons/chevron-right.svg);
  background-size: 15px 20px;
  width: 15px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 0;
}

.product-info__title {
  font-size: 2rem;
  font-weight: 600;
}

.product-info__price {
  padding: 1rem 0;
  font-size: 1.5rem;
}

.product-info__thumbnails {
  margin: 1rem 0;
}

.product-info__thumbnail {
  width: 40px;
  margin: 0 0.3rem;
}

.product-info__thumbnail--actived {
  cursor: pointer;
  outline: 1px solid grey;
}

.product-info__link {
  color: #7C7573;
}

.product-size {
  margin: 1rem 0;
}

/** PRODUCT SIZE */

.product-size__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 50%;
}

.product-size__item:not(:last-child) {
  margin-right: 1rem;
}

.product__button {
  width: 100%;
  text-transform: uppercase;
  padding: 0.5rem 0;
  margin: 1rem 0;
  color: white;
  background-color: #cf2c30;
}

/** PRODUCT INFO DETAIL */
.product-info-detail__title {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
  border-bottom: 1px solid black;
}

.product-info-detail__title:after {
  display: inline-block;
  content: '';
  background-image: url(assets/icons/chevron-down.svg);
  background-size: 10px 20px;
  width: 10px;
  height: 20px;
}

.product-info-detail__title--actived:after {
  display: inline-block;
  content: '';
  background-image: url(assets/icons/chevron-up.svg);
  background-size: 10px 20px;
  width: 10px;
  height: 20px;
}

.product-properties {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: .5rem;
  margin: 1rem .5rem 2.5rem;
  background-color: #dfdfde;
}

.product-properties__tile01::before {
  display: inline-block;
  content: '';
  background-image: url(assets/info-shoe01.jpg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.product-properties__tile02::before {
  display: inline-block;
  content: '';
  background-image: url(assets/info-shoe02.jpg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  width: 70px;
  height: 50px;
}

.product-properties__tile03::before {
  display: inline-block;
  content: '';
  background-image: url(assets/info-shoe03.jpg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.product-related {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 2rem 0;
  text-align: center;
}

.product-related img {
  width: 100%;
}

.product-select-color {
  font-size: 0.6rem;
}

.new-product-tag {
  position: absolute;
  top: 16px;
  right: 0;
  width: 70px;
  padding: .3rem 0;
  text-transform: uppercase;
  text-align: center;
  background-color: #868382;
  color: white;
}

.light-product-tag {
  position: absolute;
  top: 50px;
  right: 0;
  width: 70px;
  padding: .1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  background-color: #1E4E6F;
  color: white;
}

.light-product-tag::after {
  display: inline-block;
  content: '';
  background-image: url(assets/icons/feather.svg);
  background-size: 10px 20px;
  background-repeat: no-repeat;
  width: 10px;
  height: 20px;
  margin-left: 0.3rem;
}

/** F.A.Q. */

.faq-title {
  text-align: center;
  color: #cf2c30;
  padding-bottom: 1rem;
}

/* TODO REFACTOR CLASS NAME */

.faq-block {
  padding: 2rem;
  margin: 0 2rem;
}

.grid-faq {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem 0;
}

.faq-question {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  border-right: 0.2rem solid #cf2c30;
}

/** FAQ icons */

.faq-icon-deliver::before {
  background-image: url("/assets/icons/shipped.svg");
  background-size: 30px 30px;
  display: inline-block;
  width: 30px; 
  height: 30px;
  content:"";
  margin-right: 0.5rem;
}

.faq-icon-refund::before {
  background-image: url("/assets/icons/calendar.svg");
  background-size: 30px 30px;
  display: inline-block;
  width: 30px; 
  height: 30px;
  content:"";
  margin-right: 0.5rem;
}

.faq-icon-payment::before {
  background-image: url("/assets/icons/secure-payment.svg");
  background-size: 30px 30px;
  display: inline-block;
  width: 30px; 
  height: 30px;
  content:"";
  margin-right: 0.5rem;
}

.faq-icon-support::before {
  background-image: url("/assets/icons/information.svg");
  background-size: 30px 30px;
  display: inline-block;
  width: 30px; 
  height: 30px;
  content:"";
  margin-right: 0.5rem;
}

.faq-icon-warranty::before {
  background-image: url("/assets/icons/check-mark.svg");
  background-size: 30px 30px;
  display: inline-block;
  width: 30px; 
  height: 30px;
  content:"";
  margin-right: 0.5rem;
}

/** FAQ ANSWERS */

.faq-answer {
  padding-left: 1rem;
  margin-top: 1rem;
}

.faq-more-info {
  display: flex;
  align-items: center;
  color: #cf2c30;
}

.faq-more-info::before {
  background-image: url("/assets/icons/chevron-right-faq.svg");
  background-size: 15px 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  content:"";
  margin-right: 0.05rem;
}

/**  FAQ HERO SECTION */
.faq-hero {
  background-image: url(./assets/faq-hero.jpg);
}

.faq-hero h1 {
  padding-top: 5rem;
  font-size: 2.4rem;
  text-decoration: none;
}

/** UTILS */
.display-flex {
  display: flex;
}

.flex-start {
  justify-content: flex-start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

[flex-between] {
  display: flex;
  justify-content: space-between !important;
}

.padding-x-1 {
  padding: 0 1rem;
}

.padding-y-1 {
  padding: 1rem 0;
}

.padding-y-2 {
  padding: 2rem 0;
}

.padding-bottom-y-1 {
  padding: 0 0 1rem;
}

.padding-x-2 {
  padding: 0 2rem;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-1 {
  margin: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.bold-text {
  font-weight: 600;
}

.italic-text {
  font-style: italic;
}

.position-relative {
  position: relative;
}